* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #f1f5f9;
  color: #0f2a15;
  font-family: "Segoe UI", sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}